<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This website is for ISE course, student Ming-Hsiung Hsueh follows
  the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  to build this web page.
</p>
