<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
  Also contact Introduction to Software Engineering about the ISE app at the
  <a href="http://rails.sv.cmu.edu/pages/intro_to_se">course webpage</a>.
</p>